.banner-image img:first-child {
  top: -173px;
  left: 83px;
  position: absolute;
  z-index: 2;
}
.banner-image img:nth-child(2) {
  top: 140px;
  left: 115px;
  position: absolute;
  z-index: 2;
}
.banner-image img:nth-child(3) {
  top: 15px;
  left: 315px;
  position: absolute;
  z-index: 4;
}
.banner-image img:nth-child(4) {
  top: 55px;
  left: 180px;
  position: absolute;
  z-index: 3;
}
.banner-image img:nth-child(5) {
  top: 100px;
  left: 285px;
  position: absolute;
  z-index: 3;
}
.banner-image img:nth-child(6) {
  top: -40px;
  left: 225px;
  position: absolute;
  z-index: 3;
}
.banner-image img:nth-child(7) {
  top: 155px;
  left: 210px;
  position: absolute;
  z-index: 3;
}
.banner-image img:nth-child(8) {
  top: 200px;
  left: 240px;
  position: absolute;
  z-index: 3;
}
.banner-image img:nth-child(9) {
  top: 120px;
  left: 290px;
  position: absolute;
  z-index: 3;
}
.banner-image img:nth-child(10) {
  top: 65px;
  left: 360px;
  position: absolute;
  z-index: 3;
}
.banner-image img:nth-child(11) {
  top: 330px;
  left: 345px;
  position: absolute;
  z-index: 3;
}
.banner-image img:nth-child(12) {
  top: -135px;
  left: 125px;
  position: absolute;
  z-index: 1;
}
